@media screen and (min-width:451px) {

    .foto_track__p{
        display: none;
    }

    .foto_track{
        font-family: 'Montserrat', sans-serif;
    }
    .foto_track__h2{
        padding-top: 6vh;
        text-align: center;
        font-size: 54px;
    }
    .foto_track__container1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 6vh;
        padding-left: 100px;
        padding-right: 100px;
    }

    .foto_track__container2{
        display:grid;
        justify-content: space-evenly;
        grid-template-columns: 35% 35%;
        grid-template-rows: 35%;
        column-gap: 4vh;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 6vh;
    }



    .gallery__foto_trackitem1, .gallery__foto_trackitem2, .gallery__foto_trackitem3, .gallery__foto_trackitem4, .gallery__foto_trackitem5{
        max-width:100%;
    }     
    }


    @media screen and (max-width:450px) {
        .foto_track{
            font-family: 'Montserrat', sans-serif;
        }
        .foto_track__h2{
            padding-top: 2vh;
            text-align: center;
            font-size: 35px;
        }

        .foto_track__container1 {
            display:grid;
            height:100%;
            grid-template-columns: 98%;
            grid-template-rows: 30%;
            row-gap: 6vh;
            padding-left:5%;
            padding-right: 5%;
        }

        .foto_track__container2 {
            display:grid;
            height:110vh;
            grid-template-columns: 98%;
            row-gap: 5vh;
            padding-left:5%;
            padding-right: 5%;
            padding-top: 6vh;
        }

        .foto_track__p{
            padding-top: 6vh;
            text-align: center;
            font-size: 30px;
            font-weight: 500;
        }


        .gallery__foto_trackitem1, .gallery__foto_trackitem2, .gallery__foto_trackitem3, .gallery__foto_trackitem4, .gallery__foto_trackitem5{
            max-width:100%;
            max-height: 100%;
        }     
    }